* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* background color */
    --bg-primary-color: #131212;
    --bg-secondary-color: #1e1c1c;
    --snake-bg-color: rgb(200, 195, 195);

    /* food color */
    --live-color: rgb(228, 8, 8);
    --live-empty-color: rgb(112, 107, 107);

    --block-bg-color: #e7e4e4;
    --block-border-color: rgb(37, 34, 34);

    /* text color */
    --text-color: #e7e4e4;


    /* spacing */
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 24px;
    --space-2xl: 32px;
    --space-3xl: 48px;

    /* border radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;

    /* border width */
    --border-width-sm: 1px;
    --border-width-md: 1.5px;
    --border-width-lg: 3px;

    /* border color */
    --border-primary-color: #8f8989;
}

main {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--space-2xl) var(--space-3xl);
}

#board {
    width: 100%;
    height: 100%;
    border: var(--border-width-md) solid var(--border-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

#top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: var(--space-xl);
}

#top-part h4 {
    padding: var(--space-md) var(--space-lg);
    border: var(--border-width-md) solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
}

#lives i {
    /* color: var(--live-color); */
    font-size: 22px
}

.lives-end{
    color: var(--live-empty-color);
}

.block {
    border: var(--border-width-sm) solid var(--block-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    background-color: var(--snake-bg-color);
}

.food{
    background-color: var(--food-color);
}

.food-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.collision-block {
    background-color: var(--snake-bg-color);
}